{% load static %}
<html>
    <head>
        <title>Satigo's Blog</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">SATIGO BLOG</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor03">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">INICIO <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/">Publicaciones</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'post_draft_list' %}">Borradores</a>
                </li>
                {% endif %}
                
              </ul>
              <a href="{% url 'publicacion_nueva' %}">
                  <button class="btn btn-secondary my-2 my-sm-0" type="button">Nueva Publicacion</button>
                </a>
                
                
                
              </div>
          </nav>
    </head>
    <body>
            <div class="page-header">
              
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                    {% block content %}
                    
                    {% endblock %}
                    </div>
                </div>
            </div>
        </body>
</html>