{% extends 'blog/base.html' %}

{% block content %}
    {% for publicacion in publicaciones %}
    
<div class="col-lg-12">
<a href="{% url 'post_detail' pk=publicacion.pk %}">   <h2>{{publicacion.titulo}}</h2> </a>
    <blackquote class="blackquote">
      <p class="mb-o">{{publicacion.texto|linebreaksbr}}</p>
      <footer class="blockquote-footer">{{publicacion.fecha_publicacion}} </footer>
      </blackquote>
      <a class="btn btn-primary" href="{% url 'publicacion_editar' pk=publicacion.pk %}">Editar</a>
      <a class="btn btn-danger" href="{% url 'post_remove' pk=publicacion.pk %}">Eliminar </a>

    </div>
  
   

    {% endfor %}
    {% endblock %}