{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if publicacion.fecha_publicacion %}
            <div class="date">
                {{ publicacion.fecha_publicacion }}
            </div>
        
        {% else %}
        <a class="btn btn-primary" href="{% url 'post_publish' pk=publicacion.pk %}">Publicar</a>
    {% endif %}


        <a class="btn btn-primary" href="{% url 'publicacion_editar' pk=publicacion.pk %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'post_remove' pk=publicacion.pk %}">Eliminar </a>


        <h2>{{ publicacion.titulo }}</h2>
        <p>{{ publicacion.texto|linebreaksbr }}</p>
    </div>
{% endblock %}